.comment-container a {
    all: inherit;
}

.comment-container {
    margin-bottom: .25em;
    display: flex;
    align-items: center;
}

.comment-pfp {
    margin-right: .25em;
    margin-bottom: .125em;
}

.comment-author {
    font-weight: 600;
    /*margin-left: 0.25em;*/
}

.comment-content {
    margin-left: 0.25em;
}