.comment-container a {
    all: inherit;
}

.comment-container {
    margin-top: 0.25em;
    display: flex;
    align-items: center;
}

.comment-author {
    font-weight: 600;
    margin-left: 0.25em;
}

.comment-content {
    margin-left: 0.25em;
}