.loading-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5em;
    color: var(--color-subtext-gray);
    user-select: none;
    animation: blink 2s cubic-bezier(0.47, 0.72, 0.29, 0.54) infinite;
}

.loading-img {
    width: 8em;
    height: 8em;
    background: url('../img/logo.png') no-repeat center center;
    background-size: contain;
    margin-bottom: 1em;
}

@keyframes blink {
    0% {
        opacity: .9;
    }
    50% {
        opacity: .1;
    }
    100% {
        opacity: .9;
    }
}