.popuppost-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em;
    z-index: 1000;
}

.popuppost-post-container {
    height: 80%;
    box-sizing: border-box;
    background-color: white;
    display: flex;
}

.popuppost-left-container {
    border: 1px solid black;
    box-sizing: border-box;
    height: 100%;
    width: 66.6%;
}


.popuppost-left-container-header {
    padding: 8px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}

.popuppost-left-container-header>div {
    display: flex;
}

.popuppost-left-container-header-left {
    margin-left: 8px;
}

.popuppost-left-container-header-center {
    flex-direction: column;
    margin-left: 12px;
}

/*.post-header-right {
    margin-left: auto;
    margin-right: 8px;
}*/

.popuppost-right-container {
    display: flex;
    position: relative;
    padding: 0;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    width: 33.3%;
}

.popuppost-comments-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /*height: 100%;*/
    width: 100%;
    padding: 1em;
}

.popuppost-add-comment {
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.popuppost-add-comment-input {
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.popuppost-add-comment-input:focus {
    outline: none;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .popuppost-post-container {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .popuppost-post-container {
        width: 639px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .popuppost-post-container {
        width: 639px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .popuppost-post-container {
        width: 1080px;
    }
}