.profile-picture-container {
    margin-right: .25em;
    margin-bottom: .125em;
}

.profile-picture-img-xs,
.profile-picture-img-sm,
 .profile-picture-img-lg {
    border-radius: 50%;
    border: 1px solid gainsboro;
    display: block;
}

.profile-picture-img-xs {
    width: 2.5em;
    height: 2.5em;
}

.profile-picture-img-sm {
    width: 50px;
    height: 50px;
}

.profile-picture-img-lg {
    width: 150px;
    height: 150px;
}

@media only screen and (max-width: 600px) {
    .profile-picture-img-lg {
        width: 75px;
        height: 75px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .profile-picture-img-lg {
        width: 75px;
        height: 75px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    
    
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .profile-picture-img-lg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 1px solid gainsboro;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}